<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Restablecer Contraseña</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-input type="email" placeholder="Ingrese correo" label="Correo" labelPlacement="floating"
                  helperText="Solo se permite el correo invitado@gmail.com"
                  errorText="Correo no autorizado"
                  [(ngModel)]="email"
                  (ionInput)="validarCorreo($event)">
              </ion-input>
            </ion-item>
            <ion-button expand="full" [disabled]="!correoValido" (click)="enviarEnlace()">
              Enviar Enlace
            </ion-button>
            <ion-toast
              [isOpen]="mostrarToast"
              message="Se ha enviado el enlace de recuperación a tu correo"
              [duration]="3000"
              color="success"
              position="top"
              (didDismiss)="mostrarToast = false">
            </ion-toast>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-title>Volver al Menú</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-footer>